{% extends "front/index.html" %}

{% load widget_tweaks %}

{% block title %}Criar nota{% endblock %}

{% block conteudo %}
<div class="container pt-5">
    <div class="text-center pb-3">
        <h2>Crie uma nota</h2>
        <p>Adicione um título e uma descrição.</p>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text">Título</span>
            {% render_field form.title class+="form-control"%}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Descrição</span>
            {% render_field form.description class+="form-control"%}
        </div>

        <div class="text-center pt-3">
            <button class="btn btn-primary px-5">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}